## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [52]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [53]:
# Your code here

sample_list_1 = random.sample(range(100), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [54]:
# Your code here
set1 = set(sample_list_1)
print(len(set1),'Yes!')

80 Yes!

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [55]:
# Your code here
sample_list_2 = [random.randrange(100) for i in range(80)]
print(sample_list_2)

[13, 30, 82, 3, 20, 54, 75, 38, 29, 56, 3, 24, 58, 59, 18, 56, 11, 17, 42, 84, 17, 38, 29, 98, 57, 87, 15, 34, 39, 16, 34, 9, 89, 55, 70, 1, 17, 94, 10, 0, 57, 49, 99, 90, 19, 1, 89, 48, 45, 51, 10, 83, 52, 93, 83, 6, 46, 33, 92, 85, 88, 15, 11, 46, 64, 66, 77, 19, 23, 40, 13, 21, 16, 51, 42, 1, 44, 30, 38, 89]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [56]:
# Your code here
set2 = set(sample_list_2)
print(len(set2),'No, but I guess it doesn\'t count duplicates')

56 No, but I guess it doesn't count duplicates

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [63]:
# Your code here
set3 == set1 - set2

False

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [64]:
# Your code here
set4 = set()
set4 == set2 - set1

False

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [65]:
# Your code here
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [67]:
# Your code here
len(set1) == len(set4) - len(set2) 
len(set2) == len(set3) - len(set1)
len(set5) == len(set1) + len(set2)

False

#### Create an empty set called `set6`.

In [68]:
# Your code here
set6= set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [70]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [71]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [72]:
# Your code here


set2.issubset(set1)
set3.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [79]:
# Your code here

set3_4_5 = set()
set3_4 = set3.union(set4)
set3_4_5 = set3_4.union(set5)

set1_2 = set()
set1_2 = set1.union(set2)


set1_2 == set3_4_5

False

#### Using the `pop` method, remove the first element from `set1`.

In [80]:
# Your code here
  
set1_is_list_now = list(set1) 
set1_is_list_now.pop(0)

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [86]:
# Your code here

set7 = list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set7 = set()
set8 = set1 - set7
print(set8)

{0, 1, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 19, 20, 23, 24, 25, 27, 29, 31, 32, 33, 34, 36, 38, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 99}